[2014-05-02 19:33] Dvad opened #1 "Tab appearance not great"
Hi,

With the repo version of the theme I have this rendering,
![capture d cran de 2014-05-02 21 27 49](https://cloud.githubusercontent.com/assets/1500089/2867046/6ca93068-d230-11e3-8415-387cc67e2aeb.png)

Do you see the same thing on tab? I can correct it, but I don't know what is the best strategy to commit changes here. In debian patches directory or in tree directly.

David

[2014-05-09 23:27] #1 closed, assigned to nobody

[2014-05-11 19:28] dmdobrowolski opened #4 "Menu items inreadable in GTK 3.10 and newer"
In apps using GTK 3.10 an newer menu items are almost inreadable because of the background filled with white.

PS Adding a file gtk.css to ~/.config/gtk-3.0/ with a code

[code]

solved a problem for me.

[2014-05-14 21:49] #4 closed, assigned to nobody

[2014-05-20 02:07] lymber opened #7 "GTK messages on Emacs 23"
Hi there!

Not sure if it is related to his theme but, since I installed it, the following message shows up when running emacs from console on X:

(emacs:19581): Gtk-WARNING **: Unable to locate theme engine in module_path: "murrine",

For instance, my emacs version is 23.4.1. I can provide any futher information upon request and guidance.

Thanks in advance, Alexandre.

[2014-06-03 15:31] in0ni opened #8 "Titlebar issues with Ubuntu GNOME 12.04"
First of all, thanks a _huge_ deal for the work on maintaining an updated version of this theme -- sure many of us feel the same way :)

Please refer to the following screenshot that demonstrates issues:
![screenshot from 2014-06-03 10 18 47](https://cloud.githubusercontent.com/assets/1596691/3162125/6a2cf9bc-eb32-11e3-82be-dc17395afc26.png)

The one major issue title bars on Nautilus and Tweak To

[2014-07-21 18:26] SakuradaJun opened #9 "Problem with window decoration on Unity, Ubuntu 14.04"
I've recently updated my Ubuntu from 13.04 to 14.04, and got  problem with windows decorators, it's look very poor.
I think this is due to using windows decorator Untiy on new Ubuntu, instead of Metacity.

It seems necessary to register styles for Unity as somthing like this: [unity.css](https://github.com/yphus/ubuntu-themes/blob/92884755386eb8fedd4b34ba85ecd3c53dd2d5f2/Radiance/gtk-3.0/apps/unit

[2014-07-27 21:58] #9 closed, assigned to nobody

[2014-08-29 08:32] Sadi58 opened #11 "Dark toolbar for Nautilus?"
First of all, thanks a million for bringing this great theme pack back to life :-)
I love it so much that I've even made two extra versions by simply blending LightDarkest and TributeBlue, and adding two different sets of window control buttons:
http://gnome-look.org/content/show.php/MediterraneanShiki?content=162798
http://gnome-look.org/content/show.php/MediterraneanBeforeDawn?content=162747

As

[2014-08-29 18:24] Sadi58 opened #12 "Window titlebar issue with Ubuntu 14.04"
We don't see those round top corners anymore and control buttons are too close to the left under Ubuntu 14.04, which I think is a result of some recent changes in Unity.

[2014-09-09 11:16] Gotolei opened #13 "XFCE issues (Xubuntu 14.04)"
Overall it works great :) There's just a few things that stick out.

XFCE's indicator plugin (and indicator-sound's mpris2 parts) use the main window background and text colors instead of the panel/menu's colors:
https://i.imgur.com/Oz920Kx.png (NightDarkest)
https://i.imgur.com/2JlxbHl.png (WhiteNight)
https://i.imgur.com/lPjD44G.png (Dark)

Whisker menu isn't fully themed. Proper colors are used

[2014-10-19 10:18] Sadi58 opened #14 "Inconsistent toolbar gbcolor in gtk2 apps"
Actually, Mediterranean Series have always had this problem in the main MediterraneanDark and MediterraneanLight themes, but not in MediterraneanTribute themes.
So I used to overcome this by importing (symlinking) ./gtk-2.0/gtkrc file from MediterraneanTribute themes, even creating MediterraneanShiki (http://gnome-look.org/content/show.php/MediterraneanShiki?content=162798) and MediterraneanBefore

[2014-10-20 15:34] dodev opened #15 "Cinnamon 2.2 and GTK+ 3.14"
Hi!

I'm a Mediterranean theme user for a while now and it is by far the cleanest, neatest and sexiest theme out there! Kudos!

But recently I upgraded to cinnamon from 2.0 to 2.2 and it turns out it breaks parts of the Mediterranean wiget and window themes. I checked my version of GTK+ and it's 3.14.1.

Here are some of the things that are broken:
![New window decoration](https://cloud.githubuser

[2015-02-01 13:45] robertpainsi opened #19 "Main version"
Hi!

Changing/Updating/Fixing things for these awesome themes always includes fixing it for every single theme the same way. Nobody wants to do that and it's also error-prone.

So how about creating a main/default version of all css? So each theme just imports the main theme and adapt settings which are necessary. The original creator already thought about that by moving all colors into a single f

[2015-02-01 14:34] rbrito commented on #19
Hi, @robertpainsi.

This is something that I actually had in mind since I started this fork and I think that putting the common files under, say, a `common` directory would be the best thing to do and include the necessary files in the respective themes.

In the worst case, creating symlinks would be a 2nd choice, but I would really prefer to have a single common directory that works just as you t

[2015-02-01 14:37] rbrito commented on #19
I guess that what I meant with the previous message is: go ahead and unify the files.

Just take care of putting the comments that are in the files and that are informative (such as gotchas etc.) in the common file. It is better to have them well-documented so that we do not forget.

[2015-02-01 14:40] rbrito commented on #15
Dear @dodev.

Can you please check if you still have issues with the newest changes that were contributed by @robertpainsi, among other people?

BTW, if you know some CSS, we desperately need some help to refactor and make these themes maintainable.

Once you confirm that this issue is gone, I guess that we can close this bug.

Thanks,

Rogério.

[2015-02-01 14:42] rbrito opened #20 "Pass the CSS files through a cleaner/indenter"
The files have all inconsistent indentation and we should use some tool such as tidycss (or any other) to make sure that we keep everything uniform.

[2015-02-02 20:27] robertpainsi commented on #20
Hi @rbrito! :smile:

I tried two css formatter but overall they don't do a good job.

csstidy (http://www.codebeautifier.com/):
Somehow removes all intendions.

cssbeautify (http://cssbeautify.com/):
Cleans up the css very well, however some properties have special intentions like:
[code]
Here, cssbeautify won't change tabs to spaces. Also it ignores them in and before block comments.

My plan wou

[2015-02-03 18:14] robertpainsi commented on #19
Hi @rbrito!

I started the good old merge tool *meld* to compare the gtk-3.0 folders. In my opinion it's **manageable**.

But bringing the files to a common base is hard without any experience on how to manage multiple css files. Also heavy refactoring has to be done first.

What I can do, is, creating a common base by using a diff tool. Maybe it's the best step to begin with. I will ignore the gt

[2015-02-03 18:16] robertpainsi commented on #19
Darn, wrong button ^^

[2015-02-03 18:32] rbrito commented on #20
What operating system are you using?

If you are using Debian (or any derivatives), the tool that these sites all seem to use is in the package [csstidy][0] and, if you give it conservative enough options on the command-line, then it will keep *some* indentation.

(Of course, it doesn't know about intentional, "semantic" indents).

It also doesn't seem to know about newer CSS constructs, but I gue

[2015-02-03 18:41] rbrito opened #23 "Prepare a new release"
I guess that, given all the late activity, we could prepare a first "alpha" release (to be followed by further alphas/betas?) for people to test and report back problems that they see in real life (and environments that we have not used).

[2015-02-03 18:55] rbrito opened #24 "See if more themes need the same changes as MediterraneanWhite"
MediterraneanWhite received some Unity-related fixes in:

https://github.com/rbrito/pkg-mediterranean-gtk-themes/commit/0fbd7bf9d10f3bfc6aca623a053c13f30bedfac6

We have to see if other themes need a similar treatment, to avoid having inconsistencies among themes.

[2015-02-03 19:00] rbrito opened #25 "Spread the word to enthusiast sites"
Some that come to mind are omgubuntu and webupd8. We should request testers and people willing to help.

More sites would clearly be better.

[2015-02-03 19:18] rbrito commented on #13
@Gotolei, first of all, thank you for your report.

We have been fixing some bugs and I would love it if you see if your problems with XFCE have reduced or not. As I don't use XFCE myself, I didn't make any XFCE-specific changes (but I did some that MATE needs, but only in the `MediterraneanNight`---this needs to be "propagated" to other themes).

We also had many nice changes by @robertpainsi, wh

[2015-02-03 19:47] rbrito opened #26 ""Transplant" necessary changes from MediterraneanNight to other themes."
To make the themes be even more similar (and all working as well as they should), we should "transplant" the changes that I made in the `MediterraneanNight` theme to the other themes. These can be seen (partially) with the command:

    git diff --ignore-all-space 60c2b714.. MediterraneanNight

[2015-02-03 20:35] robertpainsi commented on #25
Great idea!
Since I cloned this repository, I always thought about doing that for gnome-look[1]. This theme collection has the highest rating and also is the third most downloaded there.

[1] http://gnome-look.org/content/show.php/MediterraneanNight+Series?content=156782

[2015-02-03 22:34] robertpainsi commented on #26
Missing changes at the moment are only in gtk-2.0:

[code]

[2015-02-04 02:29] Gotolei commented on #13
https://i.imgur.com/E38IvIB.png (NightDarkest)
http://i.imgur.com/ubMo1K9.png (WhiteNight)
http://i.imgur.com/IV7VyJc.png (Dark)

It's a step in the right direction :)

XFCE plugins are colored/decorated properly, but icons in the indicator plugin still have the dialog background color and appear as normal buttons.
The volume icons next to the slider are my own problem, but the pause/skip buttons

[2015-02-04 03:21] rbrito commented on #11
Dear @Sadi58, can you propose your changes in the form of a pull request here? Depending on the situation, we can provide extra flavors of the themes (or incorporate them in the themes themselves).

The themes are undergoing some refactoring, so that the whole is more easily maintainable (with a lot of contributions done by @robertpainsi), but any contribution and joining forces that we can is wel

[2015-02-04 03:29] rbrito commented on #26
On Feb 03 2015, Robert Painsi wrote:

I think that I can deal with _some_ of these, since I am still using MATE.
Unfortunately, I don't really recall all the steps that I used to arrive at
the result that I have right now.

There was some experimentation and trial and error, which, of course, may
not be the easiest to reproduce.

For example:

Here is one instance where I had to experiment a bit.

[2015-02-04 08:26] Sadi58 commented on #11
Dear @rbrito, I entirely agree with you and wish I could do more but I'm not a themer at all. What I did with the good old Mediterranean Series was a very simple copy&paste thing. At the moment I'm afraid can only make such suggestions for improvement.
I really wish you can fully revive the popular Mediterranean Series theme pack in a coherent and consistent manner (IMHO the most striking flaws at

[2015-02-04 16:03] robertpainsi commented on #19
First, just to clarify, I'm always talking about the css files in the gtk3.0 theme only.

So, I was filtering out the files which doesn't differ (man, I :heart: the terminal). There are 17 files which all themes have in common. That's great! :smile_cat: Before I continued, I had to check something. As I mentioned in the previous comment, I want to use the @import statement to import the common css

[2015-02-04 17:06] dodev commented on #15
Hi!
The most recent changes committed to this repository did not fix the issues with GTK+ 3.12. I'll give it another try later today when I get back home.

About the maintainability - I have some ideas how this can be achieved. I'll ping you again on this topic.

[2015-02-04 17:48] robertpainsi opened #29 "Create folder/file structure similar to Ambiance"
To be consistent with the main themes we should also provide a similar folder/file structure. Mainly I'm talking about an app folder with all the app specific files.

[code]

This should be done _after_ the current refactoring but I would suggest that it's still on the milestone.

[2015-02-04 18:19] robertpainsi commented on #15
That would be awesome. Jump in here https://github.com/rbrito/pkg-mediterranean-gtk-themes/issues/19 for information about the refactoring and add your thoughts and improvement ideas. :smile_cat:

The gtk3-widget-factory, which shows all kind of ui elements, seems to have the same problem you posted. It can be installed by

[code]

I added this tool here because it's related to the issue but we sh

[2015-02-04 21:13] dodev commented on #15
Hey, Robert!

I've checked out #28 and it solves the transparent background of the title-bar. But the other widget problems are still present.

[2015-02-04 21:43] darvelo commented on #19
@robertpainsi I'm not really familiar with GTK CSS, but it seems like it has variables like SASS does. Maybe instead of the hardcoded asset URLs, we can have a variable declared in MediterraneanDark's gtk-widgets.css, followed by an import that will use the variable? Like:

[code]

[code]

I don't know if variables can be "seen" within imports and concatenated this way in GTK CSS, but if so it may

[2015-02-04 21:54] dodev commented on #19
Hey, guys!

I've just skimmed over this issue and I see you came to the same conclusion as I did. I haven't reviewed in deep the tools which you suggested, yet. For now I wanted to share with you my idea.

The first step to solving the "multiple-theme-one-structure" problem is implementing a build process with source tree, target descriptions and target files. A very simple builder can be written

[2015-02-04 22:06] darvelo commented on #19
@dodev I am totally in love with css pre- and post-processors like SASS and [Autoprefixer](https://github.com/postcss/autoprefixer) with an `npm` builder like [Grunt](http://gruntjs.com/) or [Gulp](http://gulpjs.com/) (gulp preferred as it uses streams and not disk io). My only concern is that users probably won't be familiar with build processes and the like. It's possible that the Mediterranean

[2015-02-04 22:09] robertpainsi commented on #15
Ohh, stupid me! Should have put on my glasses :joy_cat:
Now I see what the problem is in picture#2. And in picture#3 there are missing checkboxes right?
Let's see if the current refactoring process will fix these problems too.

[2015-02-04 22:30] robertpainsi commented on #19
Awesome ideas guys! @darvelo @dodev

Maybe gtk-3.0 is already capable of sass http://worldofgnome.org/adwaita-gtk-theme-is-now-ported-to-sass/ ? Since SASS > CSS !!! this would be awesome! Also the css files have been removed and replaced by scss files in this commit https://git.gnome.org/browse/gnome-themes-standard/commit/?id=c10689c7b2dc1352e7b329f58c9f653e5682dca5

[2015-02-05 20:57] dodev commented on #15
Yep, the borders of the checkboxes are missing. Other things, that are not rendered correctly with the theme include:
- missing radio button borders
- missing context menu borders
- the new GTK button groups are rendered as separate buttons.
  Here's a screenshot of the widget factory:
  ![screenshot from 2015-02-05 23 46 06](https://cloud.githubusercontent.com/assets/1612196/6068969/96461c00-ad91

[2015-02-05 23:18] robertpainsi commented on #15
Today I removed all my themes in my /usr/share/themes folder :scream_cat:. First I just wanted to delete all my downloaded themes I don't use anymore... then everything got out of hand and I deleted all of them. :pouting_cat: However...

I changed my theme to the White one and opened the widget-factory. I don't have the same problem with the radio buttons. The widgets look different too. In the Me

[2015-02-06 00:30] robertpainsi commented on #19
Sadly not :crying_cat_face:
Also neither string variables nor concatenations work.

[2015-02-06 12:52] robertpainsi commented on #19
I created a PR (only for inspection :smirk_cat:) with the first results https://github.com/rbrito/pkg-mediterranean-gtk-themes/pull/30

Sorry if there is a lot to read but these steps and further processes are important! It would allow us to create a build system (some unifications still have to be done by hand yet) and then simplifying the code rule by rule by using a superior styling language li

[2015-02-06 18:47] robertpainsi commented on #19
So, these are the last changes I added to https://github.com/rbrito/pkg-mediterranean-gtk-themes/pull/30 but using a new branch (easier to follow and compare). The changes can be inspected here.

https://github.com/robertpainsi/pkg-mediterranean-gtk-themes/compare/robertpainsi:commonBase...commonBase2#diff-19ccc410ad4df63dcf8b2f3ad1e281aaR6

These changes still ignore issue https://github.com/rbri

[2015-02-07 13:47] robertpainsi commented on #19
Finally got rid of all the stuff which just has been added as workarounds. Since this is mergeable, I created a pull request.
https://github.com/rbrito/pkg-mediterranean-gtk-themes/pull/31

There are no further improvements to make without switching to a superior styling language and creating a real build system.

[2015-02-09 15:47] robertpainsi commented on #19
...and we finally have a sass version with a clean and real Makefile. Check it out! :smirk_cat:
https://github.com/robertpainsi/pkg-mediterranean-gtk-themes/tree/sass

[Insert awesome party emoji here!]

Just run `make` and let the magic happen!!!
Create some symbolic links in the ~/.themes folder to the themes if you don't have them already.

The widget-factory throws no warnings/error. I also co

[2015-02-09 22:13] darvelo commented on #19
@robertpainsi This is amazing work! :clap: Now we definitely have a good foundation to build from.

Some thoughts:
- I noticed a new file `MediterraneanCommon/gtk-3.0/colors.scss`. It's interesting because the current repo references some colors (like `@notebook_tab_gradient_b`) that aren't defined anywhere, but this new `colors.scss` file defines them. What was the process you used to get the col

[2015-02-09 23:37] robertpainsi commented on #19
None, for all the colors in colors.scss :fearful: My purpose was to give them _extreme_ color values atm to immediately see them in the OS, get the related variable and correct them. So, for these colors I couldn't assign a correct color value yet since I didn't know which parts of the OS are effected. css itself changes undefined variables to white I guess or maybe ignores the property completely

[2015-02-09 23:45] robertpainsi commented on #26
I have to retract all of my comments above. It should be redone by scratch after the sass transition.

During the transition some code has been changed and all undefined colors have been defined (correctly?). Therfore reinspect **all** wm_\* colors in the colors.scss files of all themes.

https://github.com/robertpainsi/pkg-mediterranean-gtk-themes/blob/cad144ac32d3cec1cbc8d8138f44ffb7b1fc4994/Med

[2015-02-10 05:13] darvelo commented on #19
Oh, I was under the impression that the MediterraneanCommon dir was the source of all the duplicate code?

[2015-02-10 11:47] robertpainsi commented on #19
k, I should have been more precise. :smile_cat:

The common dir _is_ the source of all the duplicate code shared by all themes _but_ the files in the common dir also have to be refactored. Since we can use the power of sass now, we can use inheritance, functions and variables which can define more than just colors to reduce the common scss files and complexity and also improve them overall.

Namin

[2015-02-10 11:59] robertpainsi commented on #29
Or even better and cleaner for the sass version https://github.com/shimmerproject/Numix/tree/sass/gtk-3.0/scss

[2015-02-10 14:28] robertpainsi commented on #19
...and gtk 3.14 has a new awesome tool I found today. The gtk-inspector (https://github.com/rbrito/pkg-mediterranean-gtk-themes/wiki/Tools#gtkinspector). I installed ubuntu 15.04 to test it out. If you do so too, you may have to fix a critical bug by hand in the current release https://bugs.launchpad.net/ubuntu/+source/casper/+bug/1415586

If you run something else than ubuntu, you maybe have gtk

[2015-02-10 16:07] rbrito commented on #29
Hi.

On Feb 10 2015, Robert Painsi wrote:

You guys have done a great job discussing the maintainability of the theme,
but I have a question: there were some pull requests that became closed and
I have lost track of what I should merge or not merge.

Can you guys give me "most current" what should I merge now? I am trying to
catch up with some projects of mine and I would appreciate some hints.

T

[2015-02-10 18:35] robertpainsi commented on #29
Yeah, since the porting progress was very fast, pull requests were opened and closed before they even could get reviewed :smile_cat:

I haven't created a new PR yet because there are two options we can choose from
- Merge https://github.com/robertpainsi/pkg-mediterranean-gtk-themes/tree/sass directly into master. I don't know how many of you have reviewed the code yet. https://github.com/rbrito/pk

[2015-02-10 19:57] robertpainsi commented on #19
~~This is one way to do prevent the variables to be replaced with values:~~
scss:

[code]

css:

[code]

~~But I don't like the redundancy and it's also error prone. I also don't want to drop this feature unlike the Adwaita theming team did. (http://comments.gmane.org/gmane.comp.gnome.gtk+.devel.general/24441).~~

Bullsh*t: The Adwaita and Numix team already do it the right way. My fault, I will a

[2015-02-10 20:16] darvelo commented on #19
@robertpainsi Thanks for adding that tool to the wiki. That will help debugging a lot.

I think you're right about using a color function for debugging. I've done some work figuring it out. You can define a Custom Sass function in Ruby and use it with a global var and an input string like so:

[code]

Then have a custom function that will output the actual variable value:

[code]

Now when you cal

[2015-02-10 20:41] robertpainsi commented on #19
Oh, I was updating my previous post the same time you posted your previous comment. sorry! :smile_cat:

I changed my mind about the usefulness of showing those variable names _instead_ of color values in the css files. I was always thinking about using the inspector. Because you can change colors and stuff live, you definitely need those defined color variables. But in the css code of the theme it

[2015-02-10 20:53] darvelo commented on #19
You're right. :smile: I think the way Numix does it is best.

[2015-02-11 15:20] robertpainsi commented on #29
But in the meantime you could create a sass branch in your repo. So I can create PRs for that branch and you guys can review them and also keep up with the changes that have been made. I shouldn't be the only one who knows what has been done during the refactoring process. :smile_cat:

I also appreciate some feedback. So you guys can share your thoughts, maybe see some improvements, or mistakes I

[2015-02-11 16:01] robertpainsi commented on #19
k, sy for the circumstances! But it's good to see that sass could handle something like that!

Since you are already into the color sass/gtk variable stuff now, maybe you have an idea to fix the redundancy? As you can see, the variables are declared two times. Once as sass variables and once as gtk-variables.

[code]

It would be awesome if we could merge this in some kind of oneliner.

But I'm no

[2015-02-12 01:58] darvelo commented on #19
I think something like that would have to be done in Ruby. I really don't know much Ruby at all, but it would probably work similarly to what I posted. Hypothetically, you'd have a Sass function taking a name and a color, and passing them to Ruby to alter the Sass environment at a lower level.

It's not really a supported feature, and kind of hacky, so the redundancy might actually be the cleaner

[2015-02-12 14:23] robertpainsi commented on #19
Thanks @darvelo ! The cleaner way it is. :smile_cat:

For now, I will ease back the throttle (slow down). Everything has been prepared for a big sass refactoring process. Also I'm not very familiar with sass, I'll leave further decisions to sass-experts. I add some notes I took during the common version process here. Maybe I'll create issues for each point. Nevertheless, the current step is luring

[2015-02-12 15:34] robertpainsi commented on #25
We should do that asap!

Just a short comment on some of the most visited theming websites will do it. But before that, we have to get the sass branch into the the master. Also we have to create a template for issues, add that to the Wiki and add a chapter to the README.md to link to the wiki entry. I already created the wiki entry.

https://github.com/rbrito/pkg-mediterranean-gtk-themes/wiki/Repo

[2015-02-12 23:33] darvelo commented on #19
@robertpainsi Thanks so much for the work you've put in so far. It'll go a long way to making this theme as current as possible.

Those are all good notes to keep in mind for the future. If you could make a separate issue and copy them there, it would allow others to easily follow the current state of the project.

It's a very interesting point you made about condensing everything into Mediterrane

[2015-02-14 14:44] robertpainsi commented on #19
Btw: I'm just taking a few days off for now but will continue working on this repo next week again. With less spare time on my hand, the next improvements/fixes I'll make will take **much much** longer.

I have written all the issues, as you suggested, but haven't posted them yet. Since the changes haven't been merged into the master yet and there is no other branch in this repo to link to. @rbrit

[2015-02-19 05:47] darvelo commented on #19
@robertpainsi :+1:

@rbrito, it might be time to merge the `sass` branch. It looks okay to me so far.

[2015-02-26 14:02] robertpainsi opened #32 "Black block in the open file dialog"
_OS:_ Ubuntu 14.10
_gtk-3-version:_ 3.12.2-0ubuntu15.2
_gtk-2-version:_ 2.24.25-0ubuntu1

_What steps will reproduce the issue?_
- Open gedit.
- Press Ctrl + O to open a file.

![screenshot from 2015-02-26 14 44 14](https://cloud.githubusercontent.com/assets/1794599/6393121/cb5327f8-bdc7-11e4-95cb-2ecb5c9f02a2.png)

_What do you see?_
A black block at the end of the files/folders list and around t

[2015-02-26 14:03] robertpainsi commented on #32
This issue is resolved in Ubuntu 15.04 and therefore will be fixed only if necessary.

[2015-02-26 15:07] robertpainsi commented on #19
ping @darvelo @rbrito

How do we proceed? Imo it's mergeable into the master too. I'll create a PR https://github.com/rbrito/pkg-mediterranean-gtk-themes/pull/33 :smirk_cat: If it's merged, we can start getting more users and contributors! :tada:

The only thing left is how to provide the themes?
At the moment you need sass to compile it. So you have to install ruby to get the gem package manager

[2015-02-26 15:58] robertpainsi commented on #19
Looking through the compare I found an error. Since I moved the files to a src folder but then back in the root again, all the xfm4 images which where defined in the .gitignores have been ignored.

I just wasn't aware of other .gitignore files than the main. :pouting_cat: I re-add the missing images and removed the unnecessary .gitignore files.

[2015-02-26 16:06] robertpainsi opened #34 "Additional files in MediterraneanNight"
There are some additional files in MediterraneanNight which shouldn't be there. Please review these files and remove them if necessary.

[2015-02-27 19:28] rbrito commented on #34
@robertpainsi,

I granted you collaborator rights. I won't have internet access for the next one week and a half.

So, go ahead and merge whatever you feel like.

Thanks,

Rogério.

[2015-02-28 13:12] robertpainsi commented on #34
Ah, i see. Thank you! :smile_cat:
Have a nice time... without internet :scream_cat:

[2015-02-28 13:29] robertpainsi opened #35 "Change 'highlight current line' color in gedit"
_OS:_ Ubuntu 14.10
_Themes:_ MediterraneanDarkest
_gtk-3-version:_ 3.12.2-0ubuntu15.2
_gtk-2-version:_ 2.24.25-0ubuntu1

_What steps will reproduce the issue?_
- Open gedit.
- Enable current line highlighting (Edit -> Preferences -> Highlight current line)
- Go to a line with a white text.

![screenshot from 2015-02-28 14 18 44](https://cloud.githubusercontent.com/assets/1794599/6426346/173ea464-b

[2015-02-28 19:52] robertpainsi opened #36 "Unify gtk-widgets-assets.scss"
The gtk-widgets-assets differences may be solved by flags. Most of the differences are just light and dark asserts usages because of different background colors.

[2015-02-28 19:59] robertpainsi opened #37 "Some files are only present in TributeBlue but not used at all"
The files gnome-apps.scss and menu_frames.scss are only present in TributeBlue.

Check if...
- they have to be enabled in gtk.scss.
- the other tribute themes should also include them.
- other themes also need them.

[2015-02-28 20:18] robertpainsi commented on #19
The sass branch is the branch I'm currently working on. I also did some unification without creating PRs so you guys couldn't review them. I'm sorry... That's bad practice. :pouting_cat:

I createe a sass branch in this repo (https://github.com/rbrito/pkg-mediterranean-gtk-themes/tree/sass) and start creating PRs for this branch. We don't have to hurry to merge the branch into the master. :smirk_c

[2015-03-01 04:17] rbrito commented on #19
Hi, Robert.

On Feb 28 2015, Robert Painsi wrote:

The smaller, bite-sized the changes are, the sweeter. :) Oh, BTW, don't
forget to also send some commits to the README.md file, so that we know how
to build the themes.

Ideally (but that's for the future), we would like to have unit tests or
something that we could integrate with, say, Travis CI (like I do with other
projects of mine here: see ht

[2015-03-01 22:17] robertpainsi commented on #19
On it! :smile_cat:

Yeah, that would be awesome. The more automated it is the better.

I'm still working on some tickets which definitely should be done before the release. I hope that I can fix them before you come back :smile_cat:.

The nightmare of every computer scientist. :scream_cat:

[2015-03-03 21:44] robertpainsi commented on #19
Oh, something important came up! I'll start working on the issues after 13th

[2015-03-20 20:52] robertpainsi commented on #19
And an important exam came up... It's one of my last ones... So, have to expand my pause to 30th. :flushed:

[2015-03-25 21:56] razzdray opened #38 "feature request: theme style for firefox [Min/Max/Close] buttons"
As Iceweasel/Linux under non-Unity WM's can't draw tabs directly on title bar (as in windows), it's needed to use the Hide Caption Titlebar Plus plugin to hide title bar.
This plugin allows also turn on custom [Min/Max/Close] buttons instead of system ones, but they look alien without according styles. Stylish plugin makes them possible.

I'm asking about Mediterranean styles for these buttons, he

[2015-04-08 09:14] Sadi58 opened #39 "Nautilus toolbar issues"
It seems to me that nautilus toolbar should be styled further to achieve consistency with the title/menu bar above.
Some of the themes even have a different bgcolor.
I'm particularly interested in the MediterraneanWhite which looks like it will require the least effort --probably just removing the shaded line in between -- to achive the same look as other apps like gedit as in the screenshot below

[2015-04-14 02:08] rbrito opened #40 "Change in maintenance mode?"
Hi, @darvelo, @robertpainsi, @Dvad and others.

(Please forgive any omissions---it's not really intentional).

It is really clear to me that you guys have a much better understanding of CSS and related technologies than I do.  Furthermore, given my lack of time, I think that I would like to pass on the maintenance of the project to more skilled parties.

I really mostly care about MediterraneanNig

[2015-04-14 02:11] rbrito opened #41 "The project should be renamed"
This project started its life as a mix of integrating some patches and, also, creating Debian packages, with most of the focus on the packaging side.

This is the reason for the `pkg-` prefix in the name of the repository, but, now, the project has shifted its focus and it is more of a development nature than of a packaging one.

Therefore, I think that it would be fit to rename this repository an

[2015-04-16 18:07] robertpainsi commented on #41
:+1:

[2015-04-16 18:32] rbrito commented on #41
Great, thanks.

[2015-04-16 18:33] rbrito commented on #41
Just did that. :) Thanks.

[2015-04-16 18:33] #41 closed, assigned to nobody

[2015-04-16 19:26] robertpainsi commented on #40
Hi :smirk_cat:
I still didn't had time to do the last polishing for the common base refactoring :pouting_cat:. I even use the default MediterraneanDarkest theme without my preferred modifications :scream_cat:. Sorry that I couldn't do something in the meantime. I'll reanalyze the code in the next days and weeks to do the last refactoring. Then I'll also "fix" https://github.com/rbrito/mediterranea

[2015-04-16 19:27] robertpainsi commented on #41
nice!

[2015-04-16 20:11] darvelo commented on #40
I wish I had the time to refactor and debug this code. I've since stopped using GNOME, so that makes it harder for me to know what I'm doing (I use [bspwm](https://github.com/baskerville/bspwm) with plain X and urxvt now, but still use GTK+ apps from time to time). This is my favorite theme of all and I want to see it flourish. @rbrito do you think once this code becomes stable, you would package

[2015-04-16 22:48] rbrito commented on #40
Hi, All.

On Apr 16 2015, David Arvelo wrote:

I also don't use GNOME itself (I'm using MATE here), but the amount of
graphical applications that I use that use gtk (both 2 or 3---directly or
indirectly) is almost 100%.

It is one of the few "dark" themes (I'm thinking here of MediterraneanDark)
that I think that is sober without looking "toyish" (in the bad sense of the
word) or distracting.

Yes

[2015-04-17 03:48] darvelo commented on #40
Good to hear it'll be packaged once it's stable. Thanks for your efforts, guys.

By the way @rbrito, a workstation can get wicked powerful without gtk using a handful of tools (mplayer/mpv, zathura, sxiv, ranger, urxvt, zsh, tmux, [lemonbar panel](https://github.com/LemonBoy/bar), bspwm, [sxhkd](https://github.com/baskerville/sxhkd), dmenu, etc.). With proper keyboard shortcuts, almost all actions

[2015-04-28 11:13] robertpainsi commented on #40
Darn, have to postpone... again... :pouting_cat:
So much to do, so less time *grml*

[2015-05-02 18:00] robertpainsi commented on #35
The highlighted line color is configured by the gedit theme and _not_ by the gtk theme. Closed!
More infos: http://askubuntu.com/a/575349

[2015-05-02 18:00] #35 closed, assigned to nobody

[2015-05-03 22:37] rbrito commented on #35
Hi, Robert.

On May 02 2015, Robert Painsi wrote:

Great, but from what I understood, _we_ should provide the gedit theme,
right?  Or not?

It would be good to have things working out-of-the-box for any user,
anyway...

Thanks,

##

Rogério Brito : rbrito@{ime.usp.br,gmail.com} : GPG key 4096R/BCFCAAAA
http://rb.doesntexist.org/blog : Projects : https://github.com/rbrito/
DebianQA: http://qa.debia

[2015-05-16 03:18] rbrito opened #42 "Unreadable interface names in network manager applet"
Hi.

I'm having a serious problem with network manager applet and this theme. Due to the internal wifi card of this notebook being unreliable, I started using an USB adapter, but when I try to disable it with network manager applet, I can't really see which is the internal wifi interface and which is the USB interface.

See the screenshot below:

![network-manager-applet](https://cloud.githubuserc

[2015-09-07 05:59] rbrito opened #43 "Unreadable interface names in Firefox >= 42 tooltips"
Unfortunately, when Firefox is compiled with GTK3 support (as, say, Firefox 42), the tooltips that it creates are totally unreadable with the current version of the theme (I'm using Mediterranean Night).

I will try to provide a screenshot soon.

If anybody (@robertpainsi, @darvelo, @Dvad, anyone else?) has a fix for this issue, please send a pull request.

Thanks.

[2015-09-07 09:08] rbrito commented on #36
Hi, @robertpainsi.

How do you build the CSS files from the SCSS/SASS files? Do you simply use the `sass` command line utility? Here is the command that I have:

[code]

It comes from the Debian package `ruby-sass`. Is that what you are using? I guess that we need a Makefile to perform the automatic builds, right?

If that's simply calling `sass`, then I can write that one. If there's anything mor

[2015-09-07 10:16] robertpainsi commented on #36
Hello! :smile:

Yes

By a Makefile
- https://github.com/rbrito/mediterranean-gtk-themes/blob/sass/Makefile
- https://github.com/rbrito/mediterranean-gtk-themes/issues/19#issuecomment-73531040

[2015-09-09 04:13] rbrito commented on #36
@robertpainsi, Great, thanks for your information.

BTW, I think that since this project involves aesthetics, theming, layouts and so on, @victorwestmann may be interested in helping.

[2015-09-16 08:36] soltysh commented on #43
I'm not an expert in css, but after following mods I'm getting nice black and most importantly readable tooltips: (although this is for MediterraneanWhiteNight, I'm pretty sure it can be applied to others as well)

[code]

[2015-11-08 14:14] ZatsuneSakurako opened #44 "Installation"
Could it be possible to have .deb files to make installation or update easier?

[2015-11-09 04:38] Alanaktion commented on #44
I don't know if @rbrito plans on packing it himself, but here's the current `master` as a .deb:
[mediterranean-gtk-themes.deb](http://mirror.phpizza.com/deb/mediterranean-gtk-themes.deb)

This [script](https://gist.github.com/Alanaktion/072561071b22fb94f298) will  work to package it for you for future versions:

[code]

[2015-11-09 09:29] ZatsuneSakurako commented on #44
Thanks, I have my own personal repo, so it'll help ^^

[2015-11-19 09:47] #44 closed, assigned to nobody

[2015-11-19 09:49] ZatsuneSakurako opened #45 "Titlebar problem in Xubuntu 15.10"
Some applications like https://github.com/baedert/corebird have transparent title bar, and it make some part unreadable, could it be fixed?
( http://screencloud.net/v/non1 )

[2016-03-22 19:44] Alanaktion commented on #45
This seems like an issue with GTK 3's client-side decorations. I'm seeing the same issue with Xfce on Arch Linux running File Roller and other applications that use CSDs.

[2016-04-11 01:51] cork opened #46 "Close to everything is broken in gome/gtk+ 3.20"
Titlebar, titlebar buttons, select menus, radiobuttons, buttons. scrollbars basically everything is broken.

[2016-04-16 18:20] pjpreilly commented on #46
My Manjaro unstable looks like crap without THIS! HELP PLEASE!!!!!!

[2016-04-18 16:35] ghost commented on #46
I've started changing one of the themes according to the warnings gtk spits out: https://github.com/asjo/mediterranean-gtk-themes

I still need information on what to change all the deprecated things to...

[2016-05-03 04:54] rbrito commented on #46
Hi, everybody.

I have just pushed some changes to the https://github.com/rbrito/mediterranean-gtk-themes/tree/mediterranean-night branch. Can you guys test them?

There are some breakages, but, at least, radiobuttons and checkbuttons are visible again. I _tried_ to fix the client-side decorations with MediterraneanDark and I think that it is working now.

@asjo, please, send your changes as a pul

[2016-05-03 11:51] robertpainsi opened #48 "Leaving *crying-cat-face*"
Hi guys!

As you may have noticed, I haven't contributed anything to this project for about a year now. For different reasons (lake of time, knowledge, interest, ...). In the meantime I also switched to the dark Numix theme which looks more minimalistically. That's the same reason why I prefer Unity over Gnome. So it's just a personal preference.

The sass branch is already ready to use :wink:. Al

[2016-05-05 21:05] ghost commented on #46
@rbrito The changes I have done on my fork doesn't really amount to anything; I was unable to find any description of what needs to be changed to what, and my energy was depleted; sorry.

[2016-05-07 20:32] pattisahusiwa opened #49 "gtk-3.20 issues"
I'm recently using this theme installed from AUR https://aur.archlinux.org/packages/mediterraneannight-theme/ and found several issues related to gtk-3.20. I've attached log file from nemo to see the issues.
[nemo.txt](https://github.com/rbrito/mediterranean-gtk-themes/files/253590/nemo.txt)

[2016-07-04 22:33] H1p8r10n opened #50 "typo in gtkrc file"
To avoid :+1:

[code]

In  /usr/share/themes/MediterraneanDarkest/gtk-2.0/gtkrc :

replace :
`GtkScrollbar         ::activate-slider          = FALSE`

with :
`GtkScrollbar         ::activate-slider          = 0`

[2016-10-20 09:09] alexbruy commented on #49
Themes are broken with gtk 3.18 and higher. See also #46.

Are there any plans to fix/rewrite themes to support gtk 3.20? Maybe it is worth to adopt same approach as Greybird theme authors use (using SASS instead of direct editing of CSS files)?

[2016-10-24 21:03] rbrito commented on #49
Dear Alexander and others,

Yes, I would like it very much to have this theme going on, but, right now, my time is totally being sunk into personal issues.

I _do_ want to consider small, gradual patches that delete/remove unnecessary parts of what we have and convert what we have into a more maintainable form, like SASS or similar. The simpler and more documented, the better.

In the same fashion

[2016-10-25 18:30] rbrito commented on #49
Dear Alexander and others,

Yes, I would like it very much to have this theme going on, but, right
now, my time is totally being sunk into personal issues.

I _do_ want to consider small patches that convert what we have into a
more maintainable form, like SASS or similar.

In the same fashion, I would love it to find someone that has the time
and energy to keep proper maintenance of this theme. I

[2018-09-27 09:40] #45 closed, assigned to nobody